<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

		<link rel="stylesheet" href="/public/css/main.css">

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script src="https://use.fontawesome.com/ba9e413aeb.js"></script>
		<script src="/public/vendor/api-min.js"></script>
		<script src="/public/vendor/moment.js"></script>

		<script src="/public/build/bundle.js"></script>
	</head>
	<body>
		<div class="container">
			<h1 class="center-align">Kidz</h1>
			<div id="container">
