.main-navbar {
	margin-bottom: 40px;
}

.incident .row {
	margin: 5px 0;
}

.incident-property {
	border-radius: 10px;
	font-size: 20px;
	padding: 5px 10px;
}

.incident-property.answer-no {
	background-color: #F55B41;
	color: #FFF;
}

.incident-property.answer-yes {
	background-color: #44DC66;
	color: #FFF;
}

.collection .collection-item.avatar .circle {
	align-items: center;
	display: flex;
	font-size: 32px;
	justify-content: center;
}